<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toshiki1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toshiki2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{300,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toshiki3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{600,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toshiki4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{900,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toshiki5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{1200,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>toshiki6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,350}</string>
                <key>spriteSourceSize</key>
                <string>{300,350}</string>
                <key>textureRect</key>
                <string>{{1500,0},{300,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>toshiki.png</string>
            <key>size</key>
            <string>{1800,350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70f1eb8a18448317fbaa804e27c5e136:8ee99781fdf7bc00f3c96e216c956814:035b3eb7f804d684c7f85dafa127e777$</string>
            <key>textureFileName</key>
            <string>toshiki.png</string>
        </dict>
    </dict>
</plist>
